body {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif; 
}

.header h1 {
    font-family: 'Poppins', sans-serif; 
}

h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif; 
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar content content"
        "footer footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    padding: 0 10px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin-top: 60px;
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; 
    height: 100vh; 
    padding: 20px;
    background-color: #f8f9fa; 
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #f0f0f0;
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit;
}

.sidebar ul li:active {
    background-color: #ddd;
}

.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px 0px 60px 0px;
    margin-top: 60px;
    margin-left: 50px; 
}

.skills, .projects-grid {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 300px;
    width: 100%;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    left: 0px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    left: 0px;
}

.skills ul li {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.skills ul li:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "content"
            "footer";
    }
    .sidebar {
        display: none; 
    }
}

.project img {
    max-width: 100%;
    float: left;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05);
}

.content h2, .content h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.card {
    border: 1px solid #dee2e6; 
    border-radius: 0.5rem; 
}

.card img {
    height: 200px; 
    object-fit: cover; 
}


@media (max-width: 768px) {
    .sidebar {
        position: relative; 
        height: auto; 
    }

    .content {
        margin-left: 0; 
    }
}